@import "../../../assets/variables.less";

// Our Identity Section
.our-identity-section {
  display: flex;
  flex-direction: column;
  padding: 50px;
  text-align: center;

  .our-identity-header {
    font-size: @font-70;
    color: @red-text-color;
  }
  .our-identity-cards {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .identity-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 20px;
  }
  .card-img {
    height: 250px;
  }
  .card-header {
    margin-top: 20px;
    font-size: @font-55;
  }
  .card-text {
    text-align: center;
    margin: 20px 30px 0px 30px;
    font-size: @font-40;
    line-height: 40px;
  }

  .group-333-header {
    color: @purple-text-color;
  }
  .our-foulard-header {
    color: @red-text-color;
  }
}

// Our Church Section
.our-church-section {
  background-color: @deep-purple-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px;

  .our-church-header {
    color: @purple-text-color;
    font-size: @font-70;
    margin-bottom: 60px;
  }

  .our-church-info {
    display: flex;
    flex-direction: column;
    font-size: @font-40;
    gap: 100px;
  }

  .our-church-image {
    height: 450px;
    border-radius: 25px;
  }
}

// Our Mission Section
.our-mission-section {
  display: flex;
  flex-direction: column;
  padding: 50px;

  .our-mission-header {
    color: @red-text-color;
    font-size: @font-70;
    align-self: center;
    margin-bottom: 60px;
  }
  .mission-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .mission-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 225px;
    height: 300px;
    padding: 20px;
    padding-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 25px;
  }
  .mission-card-header {
    font-size: @font-55;
    color: @yellow-light-background-color;
  }
  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .vision-card {
    margin-top: 50px;
    p {
      font-size: @font-35;
      font-weight: @weight-bold;
      text-align: center;
      line-height: 35px;
    }
    span {
      color: @red-text-color;
    }
  }

  .slogan-card {
    p {
      font-size: @font-55;
      font-weight: @weight-bold;
      color: @purple-text-color;
    }
  }

  .missions-card {
    margin-top: 50px;
    .card-content {
      margin-top: 20px;
      justify-content: flex-start;
    }
    p {
      font-size: @font-24;
      line-height: 28px;
      span {
        font-size: @font-35;
        font-weight: @weight-bold;
      }
    }
  }
}

// Calendar Section
.calendar-section {
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-color: @primary-color;
  align-items: center;
  gap: 50px;

  .calendar-header {
    color: @yellow-dark-background-color;
    font-size: @font-70;
  }
}
// Our Camping Site
.our-camping-site-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px;
  gap: 50px;

  .our-camping-site-header {
    color: @purple-text-color;
    font-size: @font-70;
    margin-bottom: 60px;
  }

  .our-camping-site-info {
    display: flex;
    flex-direction: column;
    font-size: @font-40;
    gap: 100px;
  }

  .our-camping-site-image {
    width: 50%;
    height: 450px;
    border-radius: 25px;
  }
}
