<div class="about-us-stgj-scouts">
  <!-- our identity section -->
  <div class="our-identity-section">
    <h1 class="our-identity-header">Our Identity</h1>
    <div class="our-identity-cards">
      <div class="group-333-card identity-card">
        <img
          src="assets/images/stgj_scouts_logo.png"
          alt="stgj_logo.png"
          class="group-333-logo card-img"
        />
        <h3 class="group-333-header card-header">Group 333</h3>
        <p class="group-333-text card-text">
          This is our unique group number registered in scout du canada.
        </p>
      </div>
      <div class="our-foulard-card identity-card">
        <img
          src="assets/images/foulard.png"
          alt="foulard.png"
          class="foulard-img card-img"
        />
        <h3 class="our-foulard-header card-header">Our Foulard</h3>
        <p class="our-foulard-text card-text">
          This is our unique scout foulard that is received after the promise.
        </p>
      </div>
    </div>
  </div>
  <!-- our church section -->
  <div class="our-church-section">
    <div class="our-church-content">
      <h1 class="our-church-header">Our Church</h1>
      <div class="our-church-info">
        <p>Name: <strong>St George & St Joseph Church.</strong></p>
        <p>
          Address:
          <strong>17400 Pierrefonds Blvd., Pierrefonds, Quebec H9J 2V4</strong>
        </p>
        <p>
          Website:
          <strong>
            <a
              href="https://www.stgeorgestjoseph.ca/"
              target="_blank"
              style="color: black"
              >https://www.stgeorgestjoseph.ca/</a
            ></strong
          >
        </p>
      </div>
    </div>
    <div>
      <img
        class="our-church-image"
        src="assets/images/Church.jpg"
        alt="Church.jpg"
      />
    </div>
  </div>
  <!-- our mission section -->
  <div class="our-mission-section">
    <h1 class="our-mission-header">Our Mission</h1>
    <div class="mission-cards">
      <div class="vision-card mission-card">
        <h2 class="vision-card-header mission-card-header">Vision</h2>
        <div class="card-content">
          <p>
            To prepare <span class="vision-span"><br />Leaders</span> <br />to
            serve <br />
            the <span class="vision-span">Church</span>,<br />
            <span class="vision-span">Community</span>,<br />
            and
            <span class="vision-span">Country.</span>
          </p>
        </div>
      </div>
      <div class="slogan-card mission-card">
        <h2 class="slogan-card-header mission-card-header">Slogan</h2>
        <div class="card-content">
          <p>Be Prepared.</p>
        </div>
      </div>
      <div class="missions-card mission-card">
        <h2 class="missions-card-header mission-card-header">Missions</h2>
        <div class="card-content">
          <p>
            <span>Be Prepared For/To:</span>
            <br />
            1. Scout (2017-18)
            <br />
            2. Life (2018 - 19)
            <br />
            3. Service(2019 - 20)
            <br />
            4. Changes (2020 - 21)
            <br />
            5. Move Forward (2021 - 22)
            <br />
            6. Lead (2022 - 23)
            <br />
            7. Self-Discipline (2023 - 24)
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Calendar Section -->
  <div class="calendar-section">
    <h1 class="calendar-header">CALENDAR 2023 - 2024</h1>
    <img
      src="assets/images/calendar.jpg"
      alt="calendar.jpg"
      class="calendar-image"
    />
  </div>
  <!-- Our Camping Site -->
  <div class="our-camping-site-section">
    <img
      class="our-camping-site-image"
      src="../../../assets/images/trinity.jpg"
      alt="Trinity Center.jpg"
    />
    <div class="our-camping-site-content">
      <h1 class="our-camping-site-header">Our Camping Site</h1>
      <div class="our-camping-site-info">
        <p>Name: <strong>Trinity Retreat Center.</strong></p>
        <p>
          Address:
          <strong>390 309 Rte, Val-des-Bois, Quebec J0X, Canada.</strong>
        </p>
        <p>
          Website:
          <strong>
            <a
              href="https://eccopts.ca/trinity-centre/"
              target="_blank"
              style="color: black"
              >https://eccopts.ca/trinity-centre/
            </a></strong
          >
        </p>
      </div>
    </div>
  </div>
</div>
