<div class="about-us-stgj-scouts">
  <div class="our-identity-section">
    <h1 class="our-identity-header">Our Identity</h1>
    <div class="our-identity-cards">
      <div class="group-333-card identity-card">
        <img
          src="assets/images/stgj_scouts_logo.png"
          alt="stgj_logo.png"
          class="group-333-logo card-img"
        />
        <h3 class="group-333-header card-header">Group 333</h3>
        <p class="group-333-text card-text">
          This is our unique group number registered in scout du canada.
        </p>
      </div>
      <div class="our-foulard-card identity-card">
        <img
          src="assets/images/foulard.png"
          alt="foulard.png"
          class="foulard-img card-img"
        />
        <h3 class="our-foulard-header card-header">Our Foulard</h3>
        <p class="our-foulard-text card-text">
          This is our unique scout foulard that is received after the promise.
        </p>
      </div>
    </div>
  </div>
  <div class="our-church-section">
    <div class="our-church-content">
      <h1 class="our-church-header">Our Church</h1>
      <div class="our-church-info">
        <p>Name: <strong>St George & St Joseph Church.</strong></p>
        <p>
          Address:
          <strong>17400 Pierrefonds Blvd., Pierrefonds, Quebec H9J 2V4</strong>
        </p>
        <p>
          Website:
          <strong>
            <a
              href="https://www.stgeorgestjoseph.ca/"
              target="_blank"
              style="color: black"
              >https://www.stgeorgestjoseph.ca/</a
            ></strong
          >
        </p>
      </div>
    </div>
    <div>
      <img
        class="our-church-image"
        src="assets/images/Church.jpg"
        alt="Church.jpg"
      />
    </div>
  </div>
</div>
