<app-nav-bar></app-nav-bar> <br /><br />
<app-red-button
  text="Learn More About Us"
  (click)="clickFunction('Red Button')"
></app-red-button>
<app-yellow-button
  text="Check Our Calendar"
  (click)="clickFunction('Yellow Button')"
></app-yellow-button>
<app-yellow-text-button
  text="See More FAQ's"
  (click)="clickFunction('Yellow Text Button')"
></app-yellow-text-button>
<br />
<br />

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<app-footer></app-footer>
