<div class="nav-bar-header">
  <img
    class="logo-image"
    src="assets/images/stgj_scouts_logo.png"
    alt="stgj_scouts_logo"
  />
  <div class="logo-text">
    <h1 class="logo-title">ST. GEORGE & ST. JOSEPH SCOUTS</h1>
    <h2 class="logo-slogan">Scout est toujours prêt.</h2>
  </div>
</div>
<div class="nav-bar">
  <div class="page-tab-container" *ngFor="let PageTab of NavBarPages">
    <a
      class="page-tab"
      [class.parent]="PageTab.sub_titles.length != 0"
      [routerLink]="PageTab.link"
      >{{ PageTab.title }}</a
    >
    <ul class="page-tab-subsections" *ngIf="PageTab.sub_titles.length != 0">
      <li *ngFor="let PageTabSubsection of PageTab.sub_titles">
        <a class="page-tab-subsection" [routerLink]="PageTabSubsection.link">{{
          PageTabSubsection.title
        }}</a>
      </li>
    </ul>
  </div>
</div>
