//Main Colors
@primary-color: #552b9d; 
@secondary-color: #d32f2f;
@thirdly-color: #ffc107;


// Text Colors
@purple-text-color: #6a1b9a;
@red-text-color: #d50000;
@yellow-dark-background-color: #ffea00;
@yellow-light-background-color:#ffc107;

// Background Colors
@deep-purple-color:#ede7f6;
@footer-color: #313131;

// Basic-Colors: 
@black-color: #000000;
@white-color: #ffffff;

//Font-Sizes
@font-70: 52.5px;
@font-60: 45px;
@font-55: 41.25px;
@font-40: 30px;
@font-35: 26.25px;
@font-30: 22.5px;
@font-28: 21px;
@font-24: 18px;
@font-20: 15px;


//Font-Weights
@weight-normal:100;
@weight-semi-bold: 400;
@weight-bold:700;